svg {
    width: 24px;
    height: 24px;
}

.radio-item {
    display: inline-block;
    margin-right: 20px;
}

link[rel="icon"] {
    width: 64px;
    height: 64px;
}

body {
    background-color: #59788e;
}

.centered {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.left-aligned {
    align-self: flex-start;
}

.content-wrapper {
    position: relative;
    z-index: 0;
    margin-top: 60px;
}

.login-box {
    margin-top: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: grey;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    min-height: 300px;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #202761;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #202761;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #202761;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #202761;
    font-size: 20px;
}

.login-box form a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px 20px;
    color: #202761;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.login-box a span {
    position: absolute;
    display: block;
}

.transparent-button1 {
    background-color: transparent;
    border: none;
    color: white;
}

.error-message {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.done-message {
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}


.navbar {
    background-color: #202761;
    overflow: hidden;
    border-radius: 1rem;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
    border-radius: 1rem;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 1rem;
}

.mydict div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    justify-content: center;
}

.mydict input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.mydict input[type="radio"]:checked+span {
    box-shadow: 0 0 0 0.0625em #0043ed;
    background-color: #dee7ff;
    z-index: 1;
    color: #0043ed;
}

table.centered {
    text-align: center;
}

table {
    background-color: white !important;
    border-collapse: collapse;
    border: 1px solid black;
    border-radius: 1rem;
}

th,
td {
    border: 1px solid black;
    font-weight: bold;
    border-radius: 1rem;
}

table.c {
    table-layout: auto;
    width: 100%;
}

.input {
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: white;
    transition: 0.3s;
}

label span {
    display: block;
    cursor: pointer;
    background-color: #fff;
    padding: 0.375em .75em;
    position: relative;
    margin-left: .0625em;
    box-shadow: 0 0 0 0.0625em #b5bfd9;
    letter-spacing: .05em;
    color: #3e4963;
    text-align: center;
    transition: background-color .5s ease;
}

label:first-child span {
    border-radius: .375em 0 0 .375em;
}

label:last-child span {
    border-radius: 0 .375em .375em 0;
}

button.btn-red {
    padding: 6px 10px;
    border-radius: 5px;
    border: none;
    background-color: red;
    color: white;
}

button.btn-orange {
    padding: 6px 10px;
    border-radius: 5px;
    border: none;
    background-color: orange;
    color: white;
}

button.btn-blue {
    padding: 9px 15px;
    border-radius: 5px;
    border: none;
    background-color: #202761;
    color: white;
    cursor: pointer;
}

button.btn-black {
    padding: 9px 15px;
    border-radius: 5px;
    border: none;
    background-color: #212529;
    color: white;
    cursor: pointer;
}

button.btn-green {
    padding: 6px 10px;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: white;
}

button.btn-purple {
    padding: 6px 10px;
    border-radius: 5px;
    border: none;
    background-color: purple;
    color: white;
}

.transparent-buttonw {
    background-color: transparent;
    border: none;
    color: white;
}

.transparent-buttonb {
    background-color: transparent;
    color: black;
    font-weight: bold;
}

.form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.form__field {
    font-family: inherit;
    flex: 1;
    border: none;
    border-bottom: 2px solid #fff;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
}

.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #38caef;
    font-weight: 700;
}

.form__field:required,
.form__field:invalid {
    box-shadow: none;
}

.search-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px;
}

.wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
}

.full-width {
    width: 100%;
    box-sizing: border-box;
}

textarea.form-control {
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: white;
    transition: 0.3s;
}

button.btn-new {
    --color: #202761;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
}

button.btn-new:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

button.btn-new:hover {
    color: #fff;
}

button.btn-new:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

button.btn-new:hover:before {
    top: -30px;
    left: -30px;
}

button.btn-new:active:before {
    background: #202761;
    transition: background 0s;
}

.doc_img {
    aspect-ratio: 3/2;
    object-fit: contain;
    border-radius: 50%;
    max-height: 100px;
}

.logo_img {
    aspect-ratio: 3/2;
    object-fit: contain;
    max-height: 100px;
}

.footer-icons {
    text-align: center;
    padding: 20px;
}
.footer-icon {
    margin: 0 10px;
    color: white; /* Change the color to your preference */
    font-size: 24px; /* Adjust the size as needed */
    text-decoration: none;
}
.footer-icon:hover {
    color: #007bff; /* Change the hover color */
}