<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'css.html' %}
    <script>
        function validatePassword(event) {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirm_password").value;

        // Get a reference to the element where you want to display the message
        var messageElement = document.getElementById("password_message");  // Assuming you have an element with this id

        if (password !== confirmPassword) {
            // Set the message and display it
            messageElement.textContent = "Passwords do not match!";
            messageElement.style.display = "block";  // Make the message element visible
            event.preventDefault();
            return false;
        } else {
            // Clear any previous message if passwords match
            messageElement.textContent = "";
            messageElement.style.display = "none";  // Hide the message element
        }

        // If passwords match, continue with form submission
        return true;
        }
    </script>
</head>

<body class="centered">
    {% include 'nav.html' %}
    <br>
    <h1 class="centered animate__animated animate__pulse">Change Password</h1><br>
    <form action="/change_password" method="POST" onsubmit="return validatePassword(event)">
        <input autocomplete="off" autofocus name="password" placeholder="New Password"
               type="password" required="" class="input" id="password"><br><br>
        <input autocomplete="off" name="confirm_password" type="password" required="" placeholder="Confirm New Password" class="input" id="confirm_password">
        <br>
        <input type="checkbox" id="password-toggle" onclick="togglePasswordVisibility()">
        <span class="checkmark">Show password</span>
        <br>
        <br>
        <p id="password_message" style="display: none; color: red;"></p>  <button type="submit" class="btn-blue">Change</button>
      </form>
      <br>
</body>
{% include 'footer_doctor.html' %}
<script>
    document.getElementById('login-form').addEventListener('submit', function() {
        document.getElementById('loading-overlay').style.display = 'flex';
    });
  
    function togglePasswordVisibility() {
    var passwordInput = document.getElementById("password");
    if (passwordInput.type === "password") {
      passwordInput.type = "text";
    } else {
      passwordInput.type = "password";
    }
    var passwordInput = document.getElementById("confirm_password");
    if (passwordInput.type === "password") {
      passwordInput.type = "text";
    } else {
      passwordInput.type = "password";
    }
  }
</script>
</html>