<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'css.html' %}
</head>

<body>
  {% include 'nav_admin.html' %}
  <br><br>
  <h1 class="centered animate__animated animate__pulse">Doctor Details</h1>

  {% if doctor[0].photo_path %}
  <img src="{{ url_for('static', filename = '/doc/'+ doctor[0].photo_path) }}" alt="Image" class="doc_img">
  {% else %}
  <img src="{{ url_for('static', filename='ay_kalam') }}" alt="Doctor Image" class="doc_img">
  {% endif %}

  <p><strong>Doctor ID: </strong> {{ doctor[0].doc_id }}</p>
  <p><strong>Name: </strong> {{ doctor[0].doc_name }}</p>
  <p><strong>Username: </strong> {{ doctor[0].username }}</p>
  <p><strong>Category: </strong> {{ doctor[0].category }}</p>
  <p><strong>Phone Number: </strong> {{ doctor[0].doc_phone_number }}</p>
  <p><strong>Details: </strong></p>
  <pre> {{ doctor[0].details }} </pre>
  <table class="c">
    <input name="doc_id" id="doc_id" type="hidden" value="{{ doctor[0].doc_id }}">
    <br>
    <thead>
      <tr>
        <th>Price ID</th>
        <th>Price Catgeory</th>
        <th>Patient Category</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for price in prices %}
      <tr>
          <td>{{ price.price_cat_id }}</td>
          <td>{{ price.price_category }}</td>
          <td>{{ price.patient_cat }}</td>
          <td>
              <form action="/edit_prices" method="post">
                  <button type="submit" class="transparent-buttonb">{{ price.price }}</button>
                  <input name="price_cat_id" id="price_cat_id_{{ price.price_cat_id }}" type="hidden" value="{{ price.price_cat_id }}">
                  <input name="doc_id" id="doc_id_{{ price.price_cat_id }}" type="hidden" value="{{ price.doc_id }}">
              </form>
          </td>
      </tr>
      {% endfor %}      
    </tbody>
  </table>
</body>
{% include 'footer_admin.html' %}
</html>