<footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3" style="background-color: #59788e;">
        © 2023-2024 Copyright: <a href="https://imhoteptech.vercel.app" style="color: black;">Imhotep tech</a>  <a href="/version_doctor"><br>{% include 'footer_all.html' %}</a>
        <div class="d-flex justify-content-end align-items-center">
            <p class="mb-0">Contact us:</p>
            <a href="mailto:imhoteptech@outlook.com" class="footer-icon">
                <i class="fa fa-envelope"></i>
            </a>
            <a href="https://www.instagram.com/imhotep_tech?igsh=YXV0Y24xZnNveDQ5" target="_blank" class="footer-icon">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://x.com/Imhoteptech1?t=E5JmfSp5WpyZaWkDzILpKw&s=09" target="_blank" class="footer-icon">
                <i class="fab fa-twitter"></i> 
            </a>
        </div>
    </div>
</footer>