<!DOCTYPE html>
<html lang="en">

<head>
    <title>Password Check</title>
    {% include 'css.html' %}
</head>

<body class="centered">
    {% include 'nav.html' %}
    {% if error %}
    <div class="error-message">{{ error }}</div>
    {% endif %}
    <br>
    <h1 class="centered animate__animated animate__pulse">Password Check</h1><br>
    <form action="/change_password_check" method="POST">
        <input autocomplete="off" autofocus name="password" autocapitalize="words" placeholder="Old Password"
            type="password" class="input" required="">
        <button type="submit" class="btn-blue">Check</button>
    </form><br>
</body>
{% include 'footer_doctor.html' %}
</html>