<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'css.html' %}
</head>

<body class="centered">
    {% include 'nav.html' %}
    {% if error %}
    <div class="error-message">{{ error }}</div>
    {% endif %}
    <br>
    <h1 class="centered animate__animated animate__pulse">Password Check</h1><br>
    <form action="/change_password_check" method="POST">
        <input autocomplete="off" autofocus name="password" autocapitalize="words" placeholder="Old Password"
            type="password" class="input" required="" id="password">
            <input type="checkbox" id="password-toggle" onclick="togglePasswordVisibility()">
            <span class="checkmark">Show password</span>
            <br><br>
        <button type="submit" class="btn-blue">Check</button>
    </form><br>
</body>
{% include 'footer_doctor.html' %}
<script>
    document.getElementById('login-form').addEventListener('submit', function() {
        document.getElementById('loading-overlay').style.display = 'flex';
    });
  
    function togglePasswordVisibility() {
    var passwordInput = document.getElementById("password");
    if (passwordInput.type === "password") {
      passwordInput.type = "text";
    } else {
      passwordInput.type = "password";
    }
  }
</script>
</html>