<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'css.html' %}
    <style>
        .centered-content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        table {
            border-collapse: separate;
            border-spacing: 10px; /* Adjust spacing between buttons as needed */
        }
    </style>
</head>

<body style="background-color: #202761;">
    {% include 'nav_admin.html' %}
    <div style="text-align: center;">
        <form action="/register_a_redirect">
            <button class="btn-new animate__animated animate__pulse">Add Assistant</button>
        </form>
        <form action="/register_admin_redirect">
            <button class="btn-new animate__animated animate__pulse">Add Admin</button>
        </form>
        <form action="/register_doctor_redirect">
            <button class="btn-new animate__animated animate__pulse">Add Doctor</button>
        </form>
    </div>
</body>
</html>
