<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'css.html' %}
</head>
<body style="background-color:  #202761;">
    {% include 'back.html' %}
        <div class="login-box">
            <h1 class="centered animate__animated animate__pulse" style="color: white;">Reset Password for {{ username }}</h1>
            <form action="/reset_password/{{ username }}" method="POST">
                <div class="user-box">
                    <input autocomplete="off" autofocus id="new_password" name="new_password" type="password" required="" id="password">
                    <label>New Password</label>
                </div>
                <div class="user-box">
                    <input autocomplete="off" autofocus name="confirm_password" type="password" required=""
                        id="confirm_password">
                    <label>Confirm New Password</label>
                </div>
                <div>
                    <a>
                        <button type="submit" class="btn-red">Reset</button>
                        <span></span>
                    </a>
                </div>       
            </form>
        </div>
    </body>
    

    <script>
        // Optional client-side validation (prevents unnecessary form submissions)
        const form = document.querySelector('form');
        form.addEventListener('submit', (event) => {
            const password = document.getElementById('new_password').value;
            const confirmPassword = document.getElementById('confirm_password').value;

            if (password !== confirmPassword) {
                alert('Passwords do not match. Please try again.');
                event.preventDefault(); // Prevent form submission
            }
        });
    </script>
</body>
</html>
