<head>
  {% include 'css.html' %}
</head>

<body class="centered">
  {% include 'nav_admin.html' %}
  <br><br>
  {% if notification %}
  <div class="done-message">{{ notification }}</div>
  {% endif %}
  <table class="c">
    <thead>
      <tr>
        <th>Doctor ID</th>
        <th>Doctor Name</th>
        <th>Doctor Phone Number</th>
        <th>Doctor Category</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for doctor in doctor %}
      <tr>
        <td>{{ doctor.doc_id }}</td>
        <td>
          <form action="/doctor_show_details_admin" method="post">
            <input name="doc_id" type="hidden" value="{{ doctor.doc_id }}">
            <button class="transparent-buttonb" type="submit" style="width: 100%; height: 100%">{{ doctor.doc_name }}</button>
          </form>
        </td>
        <td>{{ doctor.doc_phone_number }}</td>
        <td>{{ doctor.category }}</td>
        <td>
          <form action="/reset_password/{{ doctor.username }}" method="GET">
            <button class="btn-red" type="submit" style="width: 100%; height: 100%">Reset Password</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include 'footer_admin.html' %}
</body>
