<!DOCTYPE html>
<html lang="en">
   <head>
      {% include 'css.html' %}
   </head>
   <body>
      {% include 'nav.html' %}
      {% if error %}
      <div class="error-message">{{ error }}</div>
      {% endif %}
      <h2>Upload Image</h2>
      <form action = "/upload_image" method = "POST" enctype = "multipart/form-data">
         <div class="grid w-full max-w-xs items-center gap-1.5">
            <label class="text-sm text-gray-400 font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70">Picture</label>
            <input id="picture" type="file" name="file" class="flex h-10 w-full rounded-md border border-input bg-white px-3 py-2 text-sm text-gray-400 file:border-0 file:bg-transparent file:text-gray-600 file:text-sm file:font-medium">
      </div>
         <button class="btn-blue" type="submit">Upload</button>
      </form>
   </body>
   {% include 'footer_doctor.html' %}
</html>