    <h1 class="centered">Imhotep Clinic</h1>

    <h2>Version 6.0</h2>
    <p>
        5/8/2024<br>
        1. Changed the webserver with a faster one.<br>
        2. improved the security.<br>
        3. updated the remeber me option<br>
        4. Improved the speed by usging cache<br>
        5. Improved the names of the navigation bar on all modules.<br>
        6. Improved the UX on adding a new patient on the doctors module<br>
        7. Changed The app name to Imhotep Clinic To be like the rest of the apps theme.<br>
        8. Fixed UI/UX bugs.<br>
        9. Made the whole app with the same theme.<br>
        10. added a downloadable version for all platforms.<br>
        11. improved the UI with icons<br>
    </p>

<h2>Version 5.1.3</h2>
<p>
    10/5/2024<br>
    1. Improved the UI on the reset passwordof admin.

</p>


<h2>Version 5.1.2</h2>
<p>
    17/4/2024<br>
    1. Fixed a bug on the add patient record for the notes_pres.

</p>

<h2>Version 5.1.1</h2>
<p>
    13/4/2024<br>
    1. Added the delete button to the doctor to delete the patient.

</p>

<h2>Version 5.1</h2>
<p>
    13/4/2024<br>
    1. Major Improvments in secuirity on hashing passwords.<br>
    2. Improved UI/UX by adding new masseges.<br>
    3. Added a new option to reset the password if you forgot it.<br>
    4. Fixed Some UX bugs on admin module.<br>
    5. Added the remember me button on login to remember this device so every time you go to the page it open automatically.<br>
    6. improved the logout button to make it forget this device automatically for more security.<br>
    7. Fixed the bug of adding an empty record after creating a new patient.

</p>

<h2>Version 5.0</h2>
<p>
    10/4/2024<br>
    1. Added the feature to choose the way you want to choose the program:<br>
    &nbsp;&nbsp;a. as a notes.<br>
    &nbsp;&nbsp;b. as a notes with prescription.<br>
    &nbsp;&nbsp;c. as a small ERP for clinic.<br>
    2. Improved the UI/UX.<br>
    3. Improved Secuirity.<br>
    4. Added the back button to easier navigation between the pages.<br>
    5. Fixed some speed bugs.
</p>

<h2>Version 4.1</h2>
<p>
    17/3/2024<br>
    1. Fixed the change password for the doctor.<br>
    2. Added the edit assistant.
</p>

<h2>Version 4.0</h2>
<p>
    10/3/2024<br>
    1. improved the UX/UI of the tables on the doctors view<br>
    2. a major update on the backend<br>
    3. an enormous improvment on the security.
</p>

<h2>Version 3.5</h2>
<p>
    6/3/2024<br>
    1. Fixed a major Issue on the register of a new user.<br>
    2. improved some UI bugs on the admin module.<br>
    3. improved the login.
</p>

<h2>Version 3.4</h2>
<p>
    1. Added the new button to add a new record when you open the user.<br>
    2. Removed the add new record From the show_all page to be more easy to use.<br>
    3. Changed The places of the buttons inside of the show all page.
</p>

<h2>Version 3.3</h2>
<p>
    1. Fixed A major problem of the edit patients details for the same date.<br>
    2. Fixed a major problem of showing and adding prescription data for the same date.<br>
    3. improved the error handling.
</p>

<h2>Version 3.2</h2>
<p>
    1. Added a new feature that the user can add the records as a note only and be not saved to all transactions.<br>
    3. Fixed Some Errors on Admin Module.<br>
    2. improved the code to be more friendly.
</p>

<h2>Version 3.1</h2>
<p>
    1. some improvements on the admin module.<br>
    2. improved some security.<br>
    3. improved the logo on the download form.<br>
    4. improved the code to be more friendly.
</p>

<h2>Version 3.0</h2>
<p>
    28/2/2023<br>
    1. Added a new module to an assistant to modify the doctors data and help him.<br>
    2. added the appointments to make the work more easy for the doctor.<br>
    3. added the tarnsactions to the doctor module so he can see all of his transactions on a specific time<br>
    4. added the ability to add a logo to your self<br>
    5. added a search by phone number to be more logic for the assistant<br>
    6. improved the prescription and added the logo and details on it<br>
    7. maked the patients categories more dynamic for better user experiance<br>
    8. added the ability to the doctor to choose his free times for the appointments.<br>
    9. improved the UI of the program.<br>
    10. added to the doctor module the ability to edit his prices categories.<br>
    11. fixed some bugs.<br>
    12. improved the security.<br>
    13. added the sum to calculate automaiticly the sum of all of the transactions.<br>
    14. updated the admin UI.<br>
    15. Redesigned the add a new user.<br>
    16. added the show all assistants on admin module<br>
    17. added the show all admins on admin module
</p>

<h2>Version 2.3</h2>
<p>
    1. Fixed a major Bug On openning The Patient Details<br>
    2. Improved the background of the patient details of the doctor view for better view<br>
    3. maked some features not required for more user friendly
</p>
<h2>Version 2.2</h2>
<p>
    1. Added An auto Backup (not only manual) For more secuirity<br>
    2. improved some UI bugs<br>
    3. Maked All The App Have the same theme<br>
</p>

<h2>Version 2.1</h2>
<p>
    1. Improved The secuirity<br>
    2. Fixed some bugs<br>
    3. improved some UI bugs<br>
    4. improved some user friendly errors
</p>


<h2>Version 2.0</h2>
<p>
    1. Maked the app works as an application works on any device (PWA).<br>
    2. Fixed some bugs.<br>
    3. Major Improvments On the UI.<br>
    4. Maked the app more dynamic for diffrent screen sizes.<br>
    5. Improved the Navigation Bar UI.<br>
    6. Fixed some bugs on the small screens.<br>
    7. maked the code more programming friendly.
</p>

<h2>Version 1.1</h2>
<p>
    1. added the version page to see the version and the new features.<br>
    2. fixed some bugs.<br>
    3. improved the secuirity of the app.<br>
    4. added a backup for the database.<br>
</p>
<h2>Version 1.0</h2>
<p>
    31/12/2023<br>
    This is a program of a DBMS “Data Base Management System” For a clinic using python and the flask framework to make<br>
    the python app work as a webapp. The program has two main modules: (patient, user). The patient module has the data<br>
    of all the doctors saved in the clinic and their information. The user module has a login page that every user logs<br>
    in with the username and password. The program checks automatically if the username and password are saved in the<br>
    database it makes the user go in, and if the user is a doctor, it shows him the doctor module, and if he is an<br>
    admin, it shows him the admin module.<br><br>
    The doctor module can add new patients and add details for the doctor and change the password, add new patient, and<br>
    manage the prices of the doctor himself. There is a page named show all that shows all the patients saved by the<br>
    doctor logged in and have an add record button that saves every time the patient goes to this doctor it saves the<br>
    data for this time with the date and the price. There is an open patient page that shows all the information of that<br>
    patient and there is an open and add prescription that have saves the prescription and has a button to print them if<br>
    there is a printer connected. And if the user clicks on the date on the table, it opens another page that have all<br>
    the details of that record to the patient with that date. On the show all page there is a filter by gender, by date<br>
    and by id that filters by everything as the names of them shows. On the show doctor details there is an upload photo<br>
    option for the doctor to add his photo and it will be shown on the patient module.<br><br>
    The admin module has a home page that shows all transactions that happened by all the doctors and the doctor and<br>
    patient Id that if you click on them, it shows this doctor details and the same thing for the patient’s id and there<br>
    is a filter by date. The transactions table also has the date that this transaction happened on. Thei is also<br>
    another pages that are the show all doctors, patients that shows all of them and there is a search patient by id and<br>
    doctor by his id on the navigation bar and the admin could delete the patients and the doctors, And if the admin<br>
    opens the doctor details it shows to him his details but can’t edit them except the prices because that the doctor<br>
    can’t edit them and there are shown in the bottom of the page on a table. Lately the admin is the only one that can<br>
    add a new user on a register page he adds the name and the details of the user and choose from the bottom if this is<br>
    an admin like him or a doctor.
</p>